VITE_API_BASE_URL="http://localhost:8000"
# Add other backend environment variables here if needed
IS_MAIN_BRANCH=True
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''
TWILIO_WHATSAPP_FROM='+234558395295'
WHATSAPP_ADMIN_NUMBERS='+23355133435,+23320453423,+2335232341,+23324233413'

VITE_API_ACCUZI_BRANCH="165.227.130.82:8000"
VITE_API_TEKCREDIT_BRANCH="188.166.164.77:8000"
VITE_API_FRONTLINE_BRANCH="localhost:8000"
BRANCH_NAME="FRONTLINE MAIN BRANCH"

VITE_API_ACCUZI_BRANCH_NGROK="https://accuziapi.frontline-management.ngrok.pizza"
VITE_API_TEKCREDIT_BRANCH_NGROK="https://tekcreditapi.frontline-management.ngrok.pizza"
VITE_API_FRONTLINE_BRANCH_NGROK="https://api.frontline-management.ngrok.pizza"
VITE_API_BASE_URL_NGROK="https://api.frontline-management.ngrok.pizza"        

